#main {
	padding: 0 35%;	
	padding-top: 18.2vw;
}

#background {
	position: absolute;
	top:0;
	left:0;
	z-index:2;
	width: 100%;
	overflow:hidden;
	pointer-events: none;

	svg {
		width: 100%;
		height: auto;
		display: block;
	}

	svg path {
		pointer-events: all;
		opacity: 0;
		transition: all 2s linear;
		&:not(:hover) {
			fill: #000;	
		}
		&.appeared:not(:hover) {
			transition: all 2s 20s linear;
		}
	}

	.pattern svg + svg path {
		&:nth-child(5),
		&:nth-child(10) {
			display: none; /* Nasenoperation */
		}
	}
}
