#main {
	padding: 0 35%;	
	padding-top: 18.2vw;
}

#background {
	position: absolute;
	top:0;
	left:0;
	z-index:-1;
	width: 100%;

	svg {
		width: 100%;
		height: auto;
		display: block;
	}

	.pattern svg + svg path {
		&:nth-child(5),
		&:nth-child(10) {
			display: none; /* Nasenoperation */
		}
	}
}
