@font-face {
    font-family: 'ps';
    src: url('/assets/fonts/ps-light-webfont.woff2') format('woff2'),
         url('/assets/fonts/ps-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'psbold';
    src: url('/assets/fonts/ps-bold-webfont.woff') format('woff'),
         url('/assets/fonts/ps-bold-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'pstext';
    src: url('/assets/fonts/pstext-light-webfont.woff2') format('woff2'),
         url('/assets/fonts/pstext-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'pstext-bold';
    src: url('/assets/fonts/pstext-semibold-webfont.woff2') format('woff2'),
         url('/assets/fonts/pstext-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


