#main {

	width: 33%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 18.2vw;

	@media screen and (max-width: $breakpoint) {
		width: 63%;
	}

	z-index: 1;

	& > *:first-child {
		margin-top:0;
	}

	a {
		color: #666;
	}

	.member-image {
		position: relative;
		//left: -$default_space;
		margin-top: $default_space;
		margin-left: auto;
		margin-right: auto;
		-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    	filter: grayscale(100%);  	
    	width: 100%;
    	height: auto;
	}

	.member-image:hover {
	 	-webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
    	filter: grayscale(0%);	
    	transition: all 1s linear;
	}

	.member-image:not(:hover) {
		transition: all 8s linear;
	}

	ul.members-list {
		list-style: none;
		padding-left: 0px;
	}

	.partner-logo-container {
		width: 100%;
		position: relative;
		//left: -50%;
		background-color: #fff;
		z-index: 5;
		height: 150px;

	}

	.partner-logo-container figure {
		margin: 0;
	}

	.partner-logo-container img {
		max-height: 100%;
		max-width: 100%;
	}

}