#main {

	width: 33%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 18.2vw;

	@media screen and (max-width: $breakpoint) {
		width: 63%;
	}

	z-index: 1;

	& > *:first-child {
		margin-top:0;
	}

	a {
		color: #666;
	}

	.member-image {
		position: relative;
		//left: -$default_space;
		margin-top: $default_space;
		margin-left: auto;
		margin-right: auto;
		-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    	filter: grayscale(100%);  	
    	width: 100%;
    	height: auto;
	}

	.member-image:hover {
	 	-webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
    	filter: grayscale(0%);	
    	transition: all 1s linear;
	}

	.member-image:not(:hover) {
		transition: all 8s linear;
	}

	ul.members-list {
		list-style: none;
		padding-left: 0px;
	}

	.partner-logo-container {
		width: 100%;
		position: relative;
		//left: -50%;
		background-color: #fff;
		z-index: 5;

	}

	.partner-logo-container figure {
		margin: 0;
	}

	.partner-logo-container img {
		width: 100%;
	}

	.partner-logo-container a {
		position: absolute;
		height: 50%;
		width: 50%;
		top: 0;
		left: 0;
	}

	.legal {
		margin-top: 1.5em;
		font-size: 75%;
	}

	.legal a {
		padding-right: 4px;
	}



	article img {
		width: 100%;
	}

	article figure {
		margin-left: 0px;
		margin-right: 0px;
	}

	article h2 {
		
	}

	.article-meta {
		margin-top: 0px;
		font-size: 0.8em;
	}

	span.small {
		font-size: 0.8em;
	}

	a.pagination-item {
		font-size: 0.8em;
		text-decoration: none;
	}

	
}