/* menu */ 

$default_space: 3vw;
$icon_dimension: 10.5vw;

#menu {
	height: 120px;
	position: absolute;
	width:100%;
}

.main-icon, .menu-icon {
	width: $icon_dimension;
	height: $icon_dimension;
	background-color: #eee;
	position: absolute;
	top: $default_space;
}

.main-icon:hover, .menu-icon:hover {
	cursor: pointer;
}

.main-icon {
	left: $default_space;
}

.menu-icon {
	right: $default_space;
}

.menu-icon span {
	font-family: ps;
	text-transform: uppercase;
	font-size: 2.5vw;
	text-align: center;
	width: 100%;
	display: block;
	line-height: $icon_dimension;
}

.menu-container {
	display: none;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	background-color:rgba(0, 0, 0, 0.8);
}

ul.main-menu, ul.language-select {
	width: 100%;
	padding-left: 18.7%;
	box-sizing: border-box;
}

ul.main-menu > li {
	clear: both;
}

.menu-container ul {
	list-style: none;
}

.menu-container li a, .menu-container li span {
	text-decoration: none;
	text-transform: uppercase;
}

.menu-container li a {
	color: #fff;
}

.menu-container li.active span, .menu-container li.active span {
	font-weight: bold;
	color: #aaa;
}

.menu-container li.active span:hover {
	cursor: default;
}

ul.team-menu {
	display: inline;
	padding-left: 0px;
}

ul.team-menu li {
	display: inline;
	color: #fff;
	padding-left: 6px;
}

ul.team-menu li::before { 
    content: "/";
}

ul.team-menu li a, ul.team-menu li span {
	text-transform: lowercase;
}

.language-select li {
	display: inline;
	margin-right: 10px;
}
