/* menu */ 

@import '_variables.scss';

#menu {
	height: 120px;
	position: absolute;
	width:100%;
}

.main-icon, .menu-icon {
	width: $icon_dimension;
	height: $icon_dimension;
	position: absolute;
	top: $default_space;
	-webkit-user-select: none;
	user-select: none;
}

.main-icon svg path {
	fill: #000 !important;
}

.main-icon svg, .menu-icon svg {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: -2;
}

.menu-icon {
	span {
		color: #000;
	}
	.menu_closed {
		display: block;
	}
	.menu_open {
		display: none;
	}	
}

.menu-icon.active {
	position: fixed;
	z-index:10;
	span {
		color: #fff;
		position: relative;
		z-index: 2;
	}
	.menu_closed {
		display: none;
	}
	.menu_open {
		display: block;
		svg {
			z-index: 2;
		}
		svg path {
			fill: #fff !important;
		}
	}
}

.main-icon:hover, .menu-icon:hover {
	cursor: pointer;
}

.main-icon {
	left: $default_space;
}

.menu-icon {
	right: $default_space;
}

.menu-icon span {
	font-family: ps;
	text-transform: uppercase;
	font-size: 2.0vw;
	text-align: center;
	width: 100%;
	display: block;
	line-height: $icon_dimension;
}

.menu-container {
	display: none;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	background-color:rgba(0, 0, 0, 0.8);
}

ul.main-menu, ul.language-select {
	width: 100%;
	padding-left: 18.7%;
	box-sizing: border-box;
}

ul.main-menu > li {
	clear: both;
}

.menu-container ul {
	list-style: none;
}

.menu-container li a, .menu-container li span {
	text-decoration: none;
	text-transform: uppercase;
}

.menu-container li a {
	color: #fff;
}

.menu-container li.active span, .menu-container li.active span {
	//font-family: 'psbold';
	color: #aaa;
}

.menu-container li.active span:hover {
	cursor: default;
}

ul.team-menu {
	display: inline;
	padding-left: 0px;
}

ul.team-menu li {
	display: inline;
	color: #fff;
	padding-left: 3px;
}

ul.team-menu li::before { 
    content: "/";
}

ul.team-menu li a, ul.team-menu li span {
	text-transform: lowercase;
}

.language-select li {
	display: inline;
	margin-right: 10px;
}
