:root {
	font-family: 'pstext', sans-serif;
	font-size: 22px;
	line-height: 30px;
	@media screen and (max-width: $breakpoint) {
		font-size: 21px;
		line-height: 24px;
	}
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'psbold', sans-serif;
	font-size: 33px;
	line-height: 36px;
	font-weight: normal;
	letter-spacing: 0.08em;
	text-transform: uppercase;
	@media screen and (max-width: $breakpoint) {
		font-size: 25px;
		line-height: 30px;
	}	
}

h1.showcase-title {
	text-transform: lowercase;
}

h2 {
	margin-top: 0.2em;
	margin-bottom: 0.2em;
}

h3 {
	font-family: 'pstext', sans-serif;
	font-size: 22px;
	line-height: 30px;
	@media screen and (max-width: $breakpoint) {
		font-size: 21px;
		line-height: 24px;
	}	
	margin: 0px;
	margin-top: 0.2em;
	margin-bottom: 0.2em;
}

nav li {
	letter-spacing: 0.08em;
	font-size: 20px;
	line-height: 28px;
}

